{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{task.description}}
</h1>

{% if task.photos|length==0 %}
<h2 class="subtitle">
  This task haven't any photos yet:(
</h2>
{% endif %}
<h2 class="subtitle">
  <a href =  "{{ url_for('taskbum.add_photo', task_id=task.id) }}">Add photo</a>
</h2>
    <div class="section">
        <div id="app" class="row columns is-multiline">
    {% for photo in task.photos %}
         <div class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{photo.photo_url}}" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  Description: {{photo.description}}
                </div>
              </div>
            </div>
         </div>
    {% endfor %}
 </div>
</div>
{% endblock %}